Checks:
  bugprone-implicit-widening-of-multiplication-result,
  bugprone-narrowing-conversions,
  bugprone-sizeof-*,
  bugprone-suspicious-*,
  bugprone-use-after-move,
  clang-*,
  cppcoreguidelines-*,
  modernize-use-trailing-return-type,
  portability-*,
  readability-delete-null-pointer,
  readability-duplicate-include,
  readability-implicit-bool-conversion,
  readability-redundant-*,
  readability-simplify-*,
  readability-static-*
CheckOptions:
  - key: modernize-use-trailing-return-type.TransformLambdas
    value: none

